:host {
    display: flex;
}

/*.container {
    display: -webkit-flex;
}

.flexchild {
    display: --layout-flex-3;
}*/

.userAvatar {
    position: relative;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 35%;
}

paper-menu iron-icon {
    margin-right: 33px;
    opacity: 0.54;
}

.paper-menu > .iron-selected {
    color: var(--default-primary-color);
}
.drawer-main-content{
    height: 800px;
}

paper-menu a {
    text-decoration: none;
    color: var(--menu-link-color);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    min-height: 48px;
    padding: 0 16px;
}

#mainToolbar,
#drawerToolbar {
    @apply(--shadow-elevation-3dp);
}

#mainToolbar .middle-container {
    height: 100%;
    margin-left: 48px;
}

#mainToolbar:not(.tall) .middle {
    font-size: 18px;
    padding-bottom: 0;
}
